[submodule "contracts-submodule"]
	path = contracts-submodule
	branch = main
	url = https://github.com/GMX-Blueberry-Club/puppet-contracts.git
[submodule "gmx-middleware"]
	path = gmx-middleware
	branch = master
	url = https://github.com/nissoh/gmx-middleware.git
