[submodule "contracts-submodule"]
	path = contracts-submodule
	url = https://github.com/johnnyonline/puppet-finance.git
	branch = main
[submodule "contracts-sm"]
	path = contracts-sm
	url = https://github.com/johnnyonline/puppet-finance.git
